.table {
  width: 100%;
  background-color: black;
}

th,
td {
  border-color: white;
  color: white;
}

@media (min-width: 700px) {
  .listingNumber {
    grid-area: listing;
    background-color: darkblue;
  }

  .category {
    grid-area: category;
  }

  section mat-card div.title {
    grid-area: title;
    background-color: cyan;
  }

  .numbers {
    grid-area: num;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  mat-card {
    width: fit-content;
    height: fit-content;
    display: grid;
    grid-template-areas: 'listing listing category category'
      'title title title title'
      'num num num num';
  }
}
