<header id="thehouseforeverwins" class="thehouseforeverwinsHeader">
    <mat-toolbar mat-tab-nav-bar>
      <a mat-tab-link class="thehouseforeverwins" routerLink="/shop">
        <h1>
          THE HOUSE FOREVER WINS
        </h1>
      </a>
      <a mat-tab-link class="aboutTHFWHeader" (click)="openAboutTHFW()">
        <h2>ABOUT</h2>
      </a>
      <a mat-tab-link class='themeHeader' (click)="openTheme()">
        <h2>THEME</h2>
      </a>
      <a mat-tab-link class="merchHeader" (click)="openMerch()">
        <h2>MERCHANDISE</h2>
      </a>
      <a mat-tab-link class="learnHeader" (click)="openBook()">
        <h2>BOOK</h2>
      </a>
    </mat-toolbar>
  </header>  