  <section id="design" class="card-list">
    <mat-card>
      <mat-card-header>
        <mat-card-title>LOGO</mat-card-title>
      </mat-card-header>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, incidunt reiciendis qui minima
        id
        necessitatibus similique debitis quibusdam unde eligendi ipsam atque, delectus nemo! Maxime, aut.
        Et,
        nobis distinctio! Perferendis?</p>
      <mat-card-actions>
        <button mat-raised-button matRipple>INVOICE</button>
        <button mat-raised-button matRipple>SHARE</button>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>BRANDING</mat-card-title>
      </mat-card-header>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, incidunt reiciendis qui minima
        id
        necessitatibus similique debitis quibusdam unde eligendi ipsam atque, delectus nemo! Maxime, aut.
        Et,
        nobis distinctio! Perferendis?</p>
      <mat-card-actions>
        <button mat-raised-button matRipple>INVOICE</button>
        <button mat-raised-button matRipple>SHARE</button>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>TRADE DRESS</mat-card-title>
      </mat-card-header>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, incidunt reiciendis qui minima
        id
        necessitatibus similique debitis quibusdam unde eligendi ipsam atque, delectus nemo! Maxime, aut.
        Et,
        nobis distinctio! Perferendis?</p>
      <mat-card-actions>
        <button mat-raised-button matRipple>INVOICE</button>
        <button mat-raised-button matRipple>SHARE</button>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>BASIC</mat-card-title>
      </mat-card-header>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, incidunt reiciendis qui minima
        id
        necessitatibus similique debitis quibusdam unde eligendi ipsam atque, delectus nemo! Maxime, aut.
        Et,
        nobis distinctio! Perferendis?</p>
      <mat-card-actions>
        <button mat-raised-button matRipple>BUY</button>
        <button mat-raised-button matRipple>SHARE</button>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>CUSTOM</mat-card-title>
      </mat-card-header>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, incidunt reiciendis qui minima
        id
        necessitatibus similique debitis quibusdam unde eligendi ipsam atque, delectus nemo! Maxime, aut.
        Et,
        nobis distinctio! Perferendis?</p>
      <mat-card-actions>
        <button mat-raised-button matRipple>INVOICE</button>
        <button mat-raised-button matRipple>SHARE</button>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>ENTERPRISE</mat-card-title>
      </mat-card-header>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, incidunt reiciendis qui minima
        id
        necessitatibus similique debitis quibusdam unde eligendi ipsam atque, delectus nemo! Maxime, aut.
        Et,
        nobis distinctio! Perferendis?</p>
      <mat-card-actions>
        <button mat-raised-button matRipple>INVOICE</button>
        <button mat-raised-button matRipple>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </section>
