<div class="development">
  <span id="basic" class="basic">
    <h3><strong>BASIC</strong></h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, incidunt reiciendis qui minima
      id
      necessitatibus similique debitis quibusdam unde eligendi ipsam atque, delectus nemo! Maxime, aut.
      Et,
      nobis distinctio! Perferendis?</p>
  </span>
  <span id="custom" class="custom">
    <h3><strong>CUSTOM</strong></h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, incidunt reiciendis qui minima
      id
      necessitatibus similique debitis quibusdam unde eligendi ipsam atque, delectus nemo! Maxime, aut.
      Et,
      nobis distinctio! Perferendis?</p>
  </span>
  <span id="enterprise" class="enterprise">
    <h3><strong>ENTERPRISE</strong></h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, incidunt reiciendis qui minima
      id
      necessitatibus similique debitis quibusdam unde eligendi ipsam atque, delectus nemo! Maxime, aut.
      Et,
      nobis distinctio! Perferendis?</p>
  </span>
</div>
