/* You can add global styles to this file, and also import other style files */

* {
  font-family: 'Anonymous Pro', monospace;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body {
  text-align: center;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin-left: 5%;
  margin-right: 5%;
}

body::-webkit-scrollbar {
  display: none;
}

mat-toolbar {
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
}

.content {
  padding: 16px;
  line-height: 200%;
  text-align: center;
}

p {
  font-size: 20px;
}

.custom-modalbox>mat-dialog-container {
  padding: 0 !important;
}
