<mat-card>
  <mat-toolbar mat-tab-nav-bar>
    <a mat-tab-link class="stocksHeader" (click)='openStocks();'>
      <strong>STOCKS</strong></a>
    <a mat-tab-link class="bondsHeader" (click)='openBonds();'>
      <strong>BONDS</strong></a>
    <a mat-tab-link class="liensHeader" (click)='openLiens();'>
      <strong>LIENS</strong></a>
    <a mat-tab-link class="notesHeader" (click)='openNotes();'>
      <strong>NOTES</strong></a>
  </mat-toolbar>

  <div class="content">
    <p>Invest in stocks, bonds, liens, and notes.</p>
  </div>
</mat-card>
