<mat-card class="orbTangibleAssets">
  <mat-toolbar mat-tab-nav-bar>
    <button mat-raised-button class="investmentPropertiesHeader" (click)='openInvestmentProperties();'>
      <a mat-tab-link>
        <strong>
          <h2>PROPERTIES</h2>
        </strong></a>
    </button>
    <button mat-raised-button class="businessesHeader" (click)='openBusinessesForSale();'>
      <a mat-tab-link>
        <strong>
          <h2>BUSINESSES</h2>
        </strong></a>
    </button>
  </mat-toolbar>

  <div class="content">
    <p>Acquire investment properties and businesses.</p>
  </div>
</mat-card>
