<mat-toolbar>
  <button mat-raised-button (click)='openAccounts();'>
    <strong>ACCOUNTS</strong>
  </button>
  <button mat-raised-button (click)='openCurrency();'>
    <strong>CURRENCY</strong></button>
  <button mat-raised-button (click)='openDebt();'>
    <strong>DEBT</strong></button>
  <button mat-raised-button (click)='openInsurance();'>
    <strong>INSURANCE</strong></button>
</mat-toolbar>

<div class='content'>
  <p><strong>ORB&trade;</strong> users can manage with accounts and the following services which are
    available for everyone.</p>
</div>
