<div class="design">
  <div>
    <h3><strong>LOGO</strong></h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, incidunt reiciendis qui minima
      id
      necessitatibus similique debitis quibusdam unde eligendi ipsam atque, delectus nemo! Maxime, aut.
      Et,
      nobis distinctio! Perferendis?</p>
  </div>
  <div>
    <h3><strong>BRANDING</strong></h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, incidunt reiciendis qui minima
      id
      necessitatibus similique debitis quibusdam unde eligendi ipsam atque, delectus nemo! Maxime, aut.
      Et,
      nobis distinctio! Perferendis?</p>
  </div>
  <div>
    <h3><strong>TRADE DRESS</strong></h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, incidunt reiciendis qui minima
      id
      necessitatibus similique debitis quibusdam unde eligendi ipsam atque, delectus nemo! Maxime, aut.
      Et,
      nobis distinctio! Perferendis?</p>
  </div>
</div>
