<form>
  <mat-form-field>
    <mat-label>From</mat-label>
    <input disabled matInput (formControl)="name" name="name" type="text" [value]="name" required>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>To</mat-label>
    <input matInput [(formControl)]="to" placeholder="Who are you sending money to?" name="to" type="text" required>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Amount</mat-label>
    <input matInput placeholder="How much are you sending?" [(formControl)]="amount" name="amount" type="text" required>
  </mat-form-field>
  <br>
  <button (click)="showInvoice()"><strong>CONFIRM</strong></button>
</form>
<router-outlet></router-outlet>
