<mat-toolbar mat-tab-nav-bar>
    <a mat-tab-link class="orbheader" (click)="openORBHeader()">
      <strong>
        <h1>ORB</h1>
      </strong>
    </a>
    <a mat-tab-link class="aboutorbheader" (click)="openAboutORB()">
      <h2>ABOUT</h2>
    </a>
    <a mat-tab-link class="shopheader" (click)="openORBShop()">
      <h2>SHOP</h2>
    </a>
    <a mat-tab-link class="loginheader" (click)="openLogin()">
      <h2>LOG IN</h2>
    </a>
    <a mat-tab-link class="the7ofdiamondsheader" (click)='openHeader();'>
      <h2>
        THE7OFDIAMONDS.TECH
      </h2>
    </a>
  </mat-toolbar>