  mat-toolbar {
    background-color: black;
    flex-direction: column;
    height: fit-content;  
  }

  a {
    color: white;
  }

  .orbHeader {
    order: 1;
  }

  .aboutOrbHeader {
    order: 2;
  }

  .loginHeader {
    order: 3;
  }

  .shopHeader {
    order: 4;
  }

  .the7ofdiamondsHeader {
    order: 5;
  }

  @media screen and (min-width: 700px) {
    mat-toolbar {
      flex-direction: row;
      background-color: black;
      color: white;
      height: 100px;
    }

    a {
      color: white;
      width: 250px;
    }

    .aboutOrbHeader {
      order: 1;
    }

    .loginHeader {
      order: 2;
    }

    .orbHeader {
      order: 3;
    }

    .shopHeader {
      order: 4;
    }

    .the7ofdiamondsHeader {
      order: 5;
    }
  }
