<section class="card-list">
  <mat-card>
    <mat-card-header>
      <mat-card-title>BOARD GAMES</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/sweatshirt.jfif" alt="Photo of a Shiba Inu">
    <mat-card-actions>
      <button mat-button (click)='openBoardGames()'>VIEW</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>BOOKS</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/sweatshirt.jfif" alt="Photo of a Shiba Inu">
    <mat-card-actions>
      <button mat-button (click)='openBooks()'>VIEW</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>HATS</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/hat.png" alt="Photo of a Shiba Inu">
    <mat-card-actions>
      <button mat-button (click)='openHats()'>VIEW</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>T-SHIRT</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/t-shirt.png" alt="Photo of a Shiba Inu">
    <mat-card-actions>
      <button mat-button (click)='openTShirts()'>VIEW</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>LONG SLEEVES</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/sweatshirt.jfif" alt="Photo of a Shiba Inu">
    <mat-card-actions>
      <button mat-button (click)='openLongSleeves()'>VIEW</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>BACKPACK</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/backpack.jfif" alt="Photo of a Shiba Inu">
    <mat-card-actions>
      <button mat-button (click)='openBackpack()'>VIEW</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

</section>
