<header id="the7ofdiamonds" class="the7ofdiamondsHeader">
    <mat-toolbar mat-tab-nav-bar>
      <a mat-tab-link class="the7ofdiamonds" routerLink="/">
        <h1>
          THE7OFDIAMONDS.TECH
        </h1>
      </a>
      <a mat-tab-link class="aboutHeader" (click)="openAbout()">
        <h2>ABOUT</h2>
      </a>
      <a mat-tab-link class='servicesHeader' (click)="openServices()">
        <h2>SERVICES</h2>
      </a>
      <a mat-tab-link class="shopHeader" routerLink="/shop">
        <h2>SHOP</h2>
      </a>
      <a mat-tab-link class="orbHeader" routerLink="/orb">
        <h2>ORB</h2>
      </a>
    </mat-toolbar>
  </header>
  