<div id="modal-contact" class="modal">
  <div class="modal-content">

    <h4><strong>CONTACT</strong></h4>
    <p>Questions</p>
    <nav>
      <div class="orbNav">
        <a href="https://jclyonsenterprises.wordpress.com/"><strong>WORDPRESS</strong></a></div>
      <div class="orbNav">
        <a href="https://www.instagram.com/theorbdotapp/"><strong>INSTAGRAM</strong></a></div>
      <div class="orbNav">
        <a href="#"><strong>FACEBOOK</strong></a></div>
      <div class="orbNav">
        <a href="#"><strong>TWITTER</strong></a></div>
      <div class="orbNav">
        <a href="#"><strong>LINKEDIN</strong></a></div>
    </nav>

  </div>
</div>