<div class="modal" id="modal-paperassets">
  <div class="modal-content">
    <h4><strong>PAPER ASSETS</strong></h4>
    <p>Invest in stocks, bonds, liens, and notes.</p>
    <nav class="orbNav">
      <strong><a href="/invest/paperassets/stocks.html">STOCKS</a></strong>
      <strong><a href="/invest/paperassets/bonds.html">BONDS</a></strong>
      <strong><a href="/invest/paperassets/liens.html">LIENS</a></strong>
      <strong><a href="/invest/paperassets/notes.html">NOTES</a></strong>
    </nav>
  </div>
</div>