<mat-card>
  <mat-toolbar mat-tab-nav-bar>
    <a mat-tab-link class="realestateHeader" (click)='openRealEstate();'>
      <strong>REAL ESTATE</strong></a>
    <a mat-tab-link class="paperassetsHeader" (click)='openPaperAssets();'>
      <strong>PAPER ASSETS</strong></a>
    <a mat-tab-link class="tangibleassetsHeader" (click)='openTangibleAssets();'>
      <strong>TANGIBLE ASSETS</strong></a>
  </mat-toolbar>

  <div class="content">
    <p>Make investments that will get you to your personal and/or financial goals</p>
  </div>

</mat-card>
