<mat-card class="orbInvest">
  <mat-toolbar mat-tab-nav-bar>
    <button mat-raised-button class="realestateHeader" (click)='openRealEstate();'>
      <a mat-tab-link>
        <strong>
          <h2>REAL ESTATE</h2>
        </strong></a>
    </button>
    <button mat-raised-button class="paperassetsHeader" (click)='openPaperAssets();'>
      <a mat-tab-link>
        <strong><h2>PAPER ASSETS</h2></strong></a>
    </button>
    <button mat-raised-button class="tangibleassetsHeader" (click)='openTangibleAssets();'>
      <a mat-tab-link>
        <strong><h2>TANGIBLE ASSETS</h2></strong></a>
    </button>
  </mat-toolbar>

  <div class="content">
    <p>Make investments that will get you to your personal and/or financial goals</p>
  </div>

</mat-card>
