<mat-toolbar>
  <a mat-tab-link class="the7ofdiamondsheader" (click)='openHeader()'>
    <h1>
      THE7OFDIAMONDS.TECH
    </h1>
  </a>
  <a mat-tab-link class="aboutheader" (click)="openAbout()">
    <h2>ABOUT</h2>
  </a>
  <a mat-tab-link class='servicesheader' (click)="openServices()">
    <h2>SERVICES</h2>
  </a>
  <a mat-tab-link class="shopheader" (click)="openShop()">
    <h2>SHOP</h2>
  </a>
  <a mat-tab-link class="orbheader" (click)="openORBHeader()">
    <h2>ORB</h2>
  </a>
</mat-toolbar>
