mat-toolbar {
  flex-direction: column;
  background-color: white;
  height: fit-content;
}

.the7ofdiamondsHeader {
  order: 1;
}

.aboutHeader {
  order: 2;
}

.servicesHeader {
  order: 3
}

.shopHeader {
  order: 4;
}

.orbHeader {
  order: 5;
}

a {
  color: black;
}

@media screen and (min-width: 700px) {
  mat-toolbar {
    flex-direction: row;
    height: 100px;
    background-color: white;
    color: black;
  }

  a {
    color: black;
    width: 250px;
  }

  .aboutheader {
    order: 1;
  }

  .servicesHeader {
    order: 2;
  }

  .the7ofdiamondsHeader {
    order: 3;
  }

  .shopHeader {
    order: 4;
  }

  .orbheader {
    order: 5;
  }
}
