<mat-card>
  <mat-card-content>
    <div class="top">
      <div class="photo">
        <img [src]="property.Media[0].MediaURL">
      </div>
      <div class="description">
        <p>Price: {{property.ListPrice | currency}}</p>
        <p>Bedrooms: {{property.BedroomsTotal}}</p>
        <p>Bathrooms: {{property.BathroomsFull}}</p>
        <p>Size: {{property.LotSizeSquareFeet}}</p>
      </div>
    </div>
    <div class="gallery">
      <div *ngFor='let photo of gallery'>
        <img [src]="photo.MediaURL" alt="">
      </div>
    </div>
  </mat-card-content>
</mat-card>
