<h4><strong>ABOUT</strong></h4>
<p><strong>ORB™</strong> is the Future of financial systems with a holistic approach to learning,
  managing and investing money available on multiple platforms.</p>
<nav>
  <div class="orbNav">
    <a href="#" class="white-text modal-trigger" data-target="modal-privacy"><strong>PRIVACY</strong></a>
  </div>
  <div class="orbNav">
    <a href="#" class="white-text modal-trigger" data-target="modal-tc"><strong>TERMS &amp
        CONDITIONS</strong></a></div>
</nav>
