<div class="mat-snack-bar-container">
  <a href="https://jclyonsenterprises.wordpress.com/" target="_blank"><img src="assets/wordpress.png"></a>
  <a href="https://www.instagram.com/the7ofdiamonds/" target="_blank"><img src="assets/ig.png"></a>
  <a href="https://www.facebook.com/the7ofdiamondsdotcom/" target="_blank"><img src="assets/facebook.png"></a>
  <a href="https://www.linkedin.com/company/the7ofdiamonds/" target="_blank"><img src="assets/linkedin.png"></a>
  <a href="https://twitter.com/the7ofdiamonds" target="_blank"><img src="assets/twitter.png"></a>
</div>
