<section>
  <table mat-table [dataSource]="dataSource" matSort class="table">
    <ng-container matColumnDef="listingNumber" class="listingNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Listing Number</th>
      <td mat-cell *matCellDef="let element">{{element.listingNumber}}</td>
    </ng-container>
    <ng-container matColumnDef="category" class="category">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
      <td mat-cell *matCellDef="let element">{{element.category}}</td>
    </ng-container>
    <ng-container matColumnDef="title" class="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
      <td mat-cell *matCellDef="let element">{{element.title}}</td>
    </ng-container>
    <ng-container matColumnDef="price" class="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
      <td mat-cell *matCellDef="let element">{{element.price | currency}}</td>
    </ng-container>
    <ng-container matColumnDef="net" class="net">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Adj. Net Income</th>
      <td mat-cell *matCellDef="let element">{{element.net | currency}}</td>
    </ng-container>
    <ng-container matColumnDef="revenue" class="revenue">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Revenue</th>
      <td mat-cell *matCellDef="let element">{{element.revenue | currency}}</td>
    </ng-container>
    <ng-container matColumnDef="roi" class="roi">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ROI</th>
      <td mat-cell *matCellDef="let element">{{element.roi}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</section>
