<!-- <mat-card class="address">
  <p>{{property.StreetNumber}} {{property.StreetName}} {{property.StreetSuffix}} {{property.StateOrProvince}}, {{property.City}}</p>
</mat-card> -->

<section>
  <div id="container" class="gallery">
    <div ng2-carouselamos class="slides-wrapper" [items]="gallery" [$prev]="prev" [$next]="next" [$item]="item">
    </div>
    <div class="overlay">
      <ng-template #item let-item let-i="index">
        <img [src]="property.Media[i].MediaURL">
      </ng-template>
      <ng-template #prev>
        <mat-icon [ngStyle]="{'color':'white'}" id="prev">skip_previous</mat-icon>
      </ng-template>
      <ng-template #next>
        <mat-icon [ngStyle]="{'color':'white'}" id="next" mat-raised-button>skip_next</mat-icon>
      </ng-template>
    </div>
  </div>

  <div class="price">
    <p>{{property.ListPrice | currency}}</p>
  </div>

  <mat-card class="description">
    <p>{{property.LotSizeSquareFeet | number}} Sqft | {{property.PropertySubType}} | {{property.BathroomsFull}} Bath</p>
    <p>Parking:</p>
    <p>Heating</p>
    <p>Cooling</p>
    <p>Year Built:</p>
  </mat-card>

  <mat-card class="monthly-cost">
    <p>Total Estimated Monthly Cost: $1,500</p>
    <p>Principal & interest</p>
    <p>Mortgage insurance</p>
    <p>Property taxes</p>
    <p>Home insurance</p>
    <p>HOA fees</p>
  </mat-card>

  <div class="action">
    <mat-button mat-raised-button *ngIf="!ready" (click)="openMortgage();">
      <p>Mortgage</p>
    </mat-button>
    <mat-button mat-raised-button *ngIf="!ready" (click)="openAccounts();">
      <p>Cash</p>
    </mat-button>
    <mat-button mat-raised-button *ngIf="ready">
      <p>Contact Agent</p>
    </mat-button>
  </div>
</section>
