  <section id="design" class="card-list">
    <mat-card>
      <mat-card-header>
        <mat-card-title>APPLICATION DEVELOPMENT</mat-card-title>
      </mat-card-header>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, incidunt reiciendis qui minima
        id
        necessitatibus similique debitis quibusdam unde eligendi ipsam atque, delectus nemo! Maxime, aut.
        Et,
        nobis distinctio! Perferendis?</p>
      <mat-card-actions>
        <button mat-raised-button matRipple (click)="openApp()">QUOTE</button>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>WEBSITE DEVELOPMENT</mat-card-title>
      </mat-card-header>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, incidunt reiciendis qui minima
        id
        necessitatibus similique debitis quibusdam unde eligendi ipsam atque, delectus nemo! Maxime, aut.
        Et,
        nobis distinctio! Perferendis?</p>
      <mat-card-actions>
        <button mat-raised-button matRipple (click)="openWebsite()">QUOTE</button>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>THEME</mat-card-title>
      </mat-card-header>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, incidunt reiciendis qui minima
        id
        necessitatibus similique debitis quibusdam unde eligendi ipsam atque, delectus nemo! Maxime, aut.
        Et,
        nobis distinctio! Perferendis?</p>
      <mat-card-actions>
        <button mat-raised-button matRipple class='themeHeader' (click)="openTheme()">BUY</button>
      </mat-card-actions>
    </mat-card>
  </section>
