<p>The Future of Financial Systems.</p>
<button class="btn black"><a routerLink="shop">
    <strong>SHOP</strong></a></button>
<button class="btn black"><a routerLink="accountdetails">
    <strong>ACCOUNT DETAILS</strong></a></button>
<button class="btn black"><a routerLink="accountdetails">
    <strong>LOG IN</strong></a></button>
<button class="btn black"><a routerLink="about">
    <strong>ABOUT</strong></a></button>
<button class="btn black"><a routerLink="faq">
    <strong>FAQ</strong></a></button>
