<mat-card class="orbRealEstate">
  <mat-toolbar mat-tab-nav-bar>
    <button mat-raised-button class="commercialHeader" (click)="openCommercial()">
      <a mat-tab-link>
        <strong>
          <h2>COMMERCIAL</h2>
        </strong>
      </a>
    </button>
    <button mat-raised-button class="residentialHeader" (click)=" openResidential()">
      <a mat-tab-link>
        <strong>
          <h2>RESIDENTIAL</h2>
        </strong>
      </a>
    </button>
  </mat-toolbar>
  <div class="content">
    <p>Purchase residential and commercial real estate.</p>
  </div>
</mat-card>
