#the7ofdiamonds mat-toolbar {
  flex-direction: column;
  background-color: white;
  height: fit-content;
}

.the7ofdiamondsHeader {
  order: 1;
}

.aboutHeader {
  order: 2;
}

.servicesHeader {
  order: 3
}

.shopHeader {
  order: 4;
}

#the7ofdiamonds .orbHeader {
  order: 5;
}

.the7ofdiamonds a {
  color: black;
}

.orb mat-toolbar {
  background-color: black;
  flex-direction: column;
  height: fit-content;
}

.orb a {
  color: white;
}

.orbHeader {
  order: 1;
}

.aboutOrbHeader {
  order: 2;
}

.loginHeader {
  order: 3;
}

.shopHeader {
  order: 4;
}

#orb .the7ofdiamondsHeader {
  order: 5;
}

@media screen and (min-width: 700px) {
  #the7ofdiamonds mat-toolbar {
    flex-direction: row;
    height: 100px;
    background-color: white;
    color: black;
  }

  .the7ofdiamonds a {
    color: black;
    width: 250px;
  }

  .aboutheader {
    order: 1;
  }

  .servicesHeader {
    order: 2;
  }

  #the7ofdiamonds .the7ofdiamondsHeader {
    order: 3;
  }

  .shopHeader {
    order: 4;
  }

  #the7ofdiamonds .orbHeader {
    order: 5;
  }

  /* ORB */
  .mat-expansion-panel {
    background: black;
    color: white;
    min-height: 100px;
  }

  ::ng-deep .mat-expansion-panel-header div {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 100%;
  }

  mat-expansion-panel-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: fit-content;
    justify-content: space-evenly;
    background-color: green;
  }

  mat-expansion-panel-body div {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: fit-content;
    justify-items: space-evenly;
  }

  .aboutOrbHeader {
    order: 1;
    width: 250px;
  }

  .loginHeader {
    order: 2;
    width: 250px;
  }

  #orb .orbHeader {
    order: 3;
    width: 250px;
  }

  .shopHeader {
    order: 4;
    width: 250px;
  }

  #orb .the7ofdiamondsHeader {
    order: 5;
    width: 250px;
  }

  ::ng-deep .mat-expansion-panel-body div .commercialHeader {
    order: 1;
    flex: 1;
  }

  ::ng-deep .mat-expansion-panel-body div .residentialHeader {
    order: 2;
    flex: 1;
  }

  ::ng-deep .mat-expansion-panel-body div .realestateHeader {
    order: 1;
    flex: 1;
  }

  ::ng-deep .mat-expansion-panel-body div .paperHeader {
    order: 2;
    flex: 1;
  }

  ::ng-deep .mat-expansion-panel-body div .tangibleHeader {
    order: 3;
    flex: 1;
  }

  ::ng-deep .mat-expansion-panel-body div .learnHeader {
    order: 1;
    flex: 1;
  }

  ::ng-deep .mat-expansion-panel-body div .manageHeader {
    order: 2;
    flex: 1;
  }

  ::ng-deep .mat-expansion-panel-body div .investHeader {
    order: 3;
    flex: 1;
  }
}
