body {
  width: 100%;
  height: 100%;
}

/* Background */
.background {
  z-index: -1;
  position: fixed;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: auto;
  grid-template-areas: "T7OD . . . ORB"
    ". . . . ."
    ". HOUSE HOUSE HOUSE .";
}

button.t7odLogo img {
  width: 100%;
  height: auto;
}

button.t7odLogo {
  grid-area: T7OD;
  width: 100%;
  height: fit-content;
}

button.orbLogo img {
  width: 100%;
  height: auto;
}

button.orbLogo {
  grid-area: ORB;
  width: 100%;
  height: fit-content;
}

button.thfwLogo img {
  width: 100%;
  height: auto;
}

button.thfwLogo {
  grid-area: HOUSE;
  width: 100%;
  height: fit-content;
}

@media screen and (min-width: 700px) {
  .background .house img {
    width: 800px;
    height: auto;
  }
}
