<h2 mat-dialog-title>QUOTE</h2>

<mat-dialog-content>
  <div id="sendmoneyquote">
    <mat-form-field appearance="fill">
      <mat-label>Amount</mat-label>
      <input matInput id="amount" type="number" class="example-right-align" name="amount" onkeyup="sendMoneyGetTotal()"
        aria-required="true">
      <span matPrefix>$&nbsp;</span>
      <span matSuffix>.00</span>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Fee</mat-label>
      <mat-select>
        <mat-option value="option">Option</mat-option>
      </mat-select>
      <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
    </mat-form-field>
    <br>
    <label>Total</label>
    <div id="total" type="number" name="total"></div>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button><strong>CONFIRM</strong></button>
</mat-dialog-actions>
