<h4>READ</h4>
<p>Contents of the book</p>
<button class="btn black" routerLink="about">
  <strong>ABOUT</strong></button>
<button class="btn black" routerLink="faq">
  <strong>FAQ</strong></button>
<button class="btn black" routerLink="privacy">
  <strong>PRIVACY</strong></button>
<button class="btn black" routerLink="termsandconditions">
  <strong>TERMS & CONDITIONS</strong></button>
<button class="btn black" routerLink="contact">
  <strong>CONTACT</strong></button>
<router-outlet></router-outlet>
