<mat-card>
  <div id="about" class="content">
    <p>
      <strong>THE7OFDIAMONDS.TECH</strong> is a designer, developer, publisher of <strong>“THE HOUSE FOREVER
        WINS”</strong> and parent company to <a href=#orb><strong>ORB</strong></a>.<strong>THE7OFDIAMONDS.TECH</strong>
      is
      the doing business as name for
      <strong>J.C. LYONS ENTERPRISES LLC</strong> founded by <a href="https://www.behance.net/the7ofdiamonds"
        target="_blank"><strong>Jamel C.
          Lyons</strong></a> at the New York State Department of Corporations on June 16, 2010.
      <strong>THE7OFDIAMONDS.TECH</strong> was created to make use of the knowledge in finance and technology acquired
      by
      its founder to solve problems.
    </p>
  </div>
  <app-contact></app-contact>
  <div>
    <app-copyrights></app-copyrights>
  </div>
</mat-card>
