<section>
  <mat-card *ngFor="let property of properties">
    <a [routerLink]="['/invest/real-estate/commercial/', property.ListingId]">
      <mat-card-content mat-raised-button>
        <div class="overlay">
          <div class="price">
            {{property.ListPrice | currency}}
          </div>
        </div>
        <img [src]="property.Media[0].MediaURL">
        <div class="description">
          {{property.LotSizeSquareFeet | number}} Sqft | {{property.PropertySubType}} | {{property.BathroomsFull}} Bath
        </div>
      </mat-card-content>
    </a>
  </mat-card>
</section>
